.full-first-page{
  background-color: #EFE8D8;
  min-height: 100vh;
  font-family: cursive,sans-serif;
  overflow: hidden;
}
.common-btn{
  background-color:#D0A77B;
  color:#ffffff;
  border:0px;
  font-family: cursive,sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-shadow: #D0A77B;
  padding: 1rem;
}
.common-btn:hover{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.common-heading{
  color:maroon;
  font-size: 3rem;
}