.full-first-page {
  background-color: #efe8d8;
  min-height: 100vh;
  font-family: Prata, sans-serif;
  overflow: hidden;
}
.common-btn {
  background-color: maroon;
  color: #ffffff;
  border: 0px;
  font-family: Prata, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-shadow: #d0a77b;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}
.common-btn:hover {
  text-shadow: 2px 2px 4px rgba(230, 61, 61, 0);
}
.common-heading {
  color: maroon;
  font-size: 3rem;
  padding: 20px 0px;
}
.display-property {
  display: flex;
  justify-content: center;
  align-items: center;
}
