.contact-page{
    display: flex;
    margin: auto;
    max-width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-send-btn{
    max-width: 5rem;
}
.contact-welcome-text{
    padding:0px 0px 20px 0px;
}